nav {
    background-color: $colorPrimario;
   
    ul{
        list-style: none;
        li{
            padding: 20px 40px;
            &:hover{
                border-radius: 10px;
                background-color:$colorSecundario ;
            }
            a{
                text-decoration: none;
                color: $colorBlanco;
                font-size: 24px;
                &:hover{
                    color: $colorBlanco;
                    font-weight: 400;
                }
            }

        }
    }

}

