.tarjeta {
  background-color: #0f7a81;
  color: #ffffff; }
  .tarjeta .fa-desktop {
    font-size: 60px; }
  .tarjeta button {
    border: solid 5px #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px;
    color: #ffffff; }
    .tarjeta button:hover {
      background-color: #0b646a; }

footer {
  background-color: #0f7a81;
  color: #ffffff; }

nav {
  background-color: #0f7a81; }
  nav ul {
    list-style: none; }
    nav ul li {
      padding: 20px 40px; }
      nav ul li:hover {
        border-radius: 10px;
        background-color: #0b646a; }
      nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 24px; }
        nav ul li a:hover {
          color: #ffffff;
          font-weight: 400; }
